body {
    font-family: Segoe UI, Tahoma, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

#inputDiv {
}

#inputBox {
    font-size: 16pt;
    width: 405px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    vertical-align: top;
}

#outputDiv {
    margin: 20px;
    font-size: 16pt;
}

.swatch {
    border: 1px solid transparent;
}

    .swatch:hover {
        border: 1px solid black;
    }

.forkMeOnGithub {
    opacity: 0.1;
    z-index: -1;
}

    .forkMeOnGithub:hover {
        opacity: 1.0;
    }
