body {
    font-family: Segoe UI, Tahoma, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

a {
    color: seagreen;
}

    a:hover {
        background-color: #F8FFF8;
    }

#inputBox {
    font-size: 16pt;
    width: 405px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 20px;
    vertical-align: top;
}

#outputDiv {
    margin: 20px;
    font-size: 16pt;
}

.swatch {
    border: 1px solid transparent;
}

    .swatch:hover {
        border: 1px solid black;
    }

.swatchName {
    font-size: x-small;
}

.forkMeOnGithub {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 0;
    font-size: small;
    opacity: 0.4;
    color: darkgreen;
}

    .forkMeOnGithub:hover {
        opacity: 1.0;
        background: honeydew;
    }

.fixed {
    font-family: Consolas, 'Lucida Console', 'Times New Roman', Times, serif;
}

.answersList {
}

.answerBlock {
    display: inline-block;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid lightgray;
}

.answerBlockHeader {
    border-bottom: 1px solid lightgray;
    padding: 4px;
    background: #f0f0f0;
    color: gray;
    font-size: small;
}

.answerSection {
    display: inline-block;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 8px;
    vertical-align: top;
    background: white;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
}

.singleAnswerSection {
    margin: 10px;
}

.sectionHeader {
    border-bottom: none;
    margin-top: 20px;
    color: gray;
}

.note {
    display: inline-block;
    border: 1px solid lightgray;
    background: lightyellow;
    padding: 4px 6px;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
}

.charSample {
    font-size: 72px;
}

.smallTable {
    font-size: medium;
}

.gray {
    color: gray;
}
