body {
    font-family: Segoe UI, Tahoma, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

a {
    color: seagreen;
}

    a:hover {
        background-color: #F8FFF8;
    }

#header {
    background: #f9f7f7;
    border-bottom: 1px solid #e8e8e8;
}

#inputBox {
    font-size: 16pt;
    width: 400px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    vertical-align: top;
}

#pasteButton {
    -webkit-appearance: none;
    font-size: 24pt;
    border: none;
    border-radius: 0;
    margin-left: -5;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    opacity: 50%;
}

    #pasteButton:hover {
        opacity: 100%;
    }

#outputDiv {
    margin: 20px;
    font-size: medium;
}

.swatch {
    border: 1px solid transparent;
    width: 50px;
    height: 50px;
}

    .swatch:hover {
        border: 1px solid black;
    }

.swatchName {
    font-size: x-small;
}

.forkMeOnGithub {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 0;
    font-size: small;
    opacity: 0.4;
    color: darkgreen;
}

    .forkMeOnGithub:hover {
        opacity: 1.0;
        background: honeydew;
    }

.fixed {
    font-family: Consolas, 'Lucida Console', 'Times New Roman', Times, serif;
}

.answersList {
}

.answerBlock {
    display: inline-block;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid lightgray;
}

.answerBlockHeader {
    border-bottom: 1px solid lightgray;
    padding: 4px;
    background: #f0f0f0;
    color: gray;
    font-size: small;
}

.singleAnswerSection {
    margin: 10px;
}

.sectionHeader {
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: large;
}

.note {
    display: inline-block;
    border: 1px solid lightgray;
    background: lightyellow;
    padding: 6px 9px;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
}

.inlineBlock {
    display: inline-block;
}

.charSample {
    font-size: 72px;
}

.mainAnswerText {
    font-size: larger;
}

.gray {
    color: gray;
}

.exception {
    border: 1px solid lightgray;
    background: lightyellow;
    padding: 4px 6px;
    box-shadow: rgba(200,200,200,0.4) 10px 10px 20px;
    font-size: medium;
}

    .exception::before {
        content: '❌';
        margin: 8px;
        font-size: xx-large;
    }

.exceptionStack {
    white-space: pre-wrap;
    font-family: Consolas, 'Lucida Console', 'Times New Roman', Times, serif;
}
